<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Completed Jobs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <div *ngFor="let submitted of (jobList | async)">
    <ion-item [routerLink]="['submitted-job-detail',submitted.id]" *ngIf="!submitted.completed" button >
      <ion-label class="ion-text-wrap">
        <ion-title>{{submitted.title}}</ion-title>
        <ion-text>
          {{submitted.id}}
        </ion-text>
      </ion-label>
    </ion-item>
  </div>
</ion-list>
</ion-content>