<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      More
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header><ion-card-title>
 About
    </ion-card-title></ion-card-header>
    <ion-card-content>
     This app is designed for on the go management of tasks on jobs which require notes to be added. Future development may be considered for administrators in order to allow them to create the jobs on the go, for now this is managed outside of the app.
    </ion-card-content>
  </ion-card>
 <ion-card>
   <ion-card-header><ion-card-title>
Version
   </ion-card-title></ion-card-header>
   <ion-card-content>
    Version 1.0 - developed by 11004874 - Simmons for the Mobile Standards, Interfaces and Applications Module - 7WCM0021-0206-2019
   </ion-card-content>
 </ion-card>
  
</ion-content>