<ion-header>
  <ion-toolbar>
    <ion-title>{{(jobDetail | async)?.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end"><ion-chip color="primary"  >Submit</ion-chip></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p>Job information</p>
    <ion-item>
      <p>Reference: {{(jobDetail | async)?.id}}</p>
    </ion-item>

    <ion-item>
      <p>Completed: {{(jobDetail | async)?.completed}}</p>
    </ion-item>
  </ion-card>
  <ion-card>
    <p>Contact Information</p>
    <ion-item>
Contact:
    </ion-item>
    <ion-item>
      Phone:
          </ion-item>
          <ion-item>
            Email:
                </ion-item>
                <ion-item>
                  Address:
                      </ion-item>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item lines='none'>
        <ion-label>
          <strong>7B Group</strong>
        </ion-label>

        <ion-chip color="primary">Shane</ion-chip>
      </ion-item>

      <ion-item lines='none'>
        <ion-text>The full task notes will be here. This may be a considerable amount of information so I will need to write this out in order to see how the app manages the format of this amount of textual information. I love giraffes</ion-text>
      </ion-item>

      <ion-item lines='none'>
        <ion-text><i>28th March 2020 14:20</i></ion-text>
      </ion-item>

    </ion-list>
  </ion-card>
  <ion-fab vertical ="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>

