<ion-header>
  <ion-toolbar>
    <ion-title>{{(taskList | async)?.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end"><ion-chip color="primary" (click)='submit3()' >Submit</ion-chip></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <p>Job information</p>
    <ion-item>
      <p>Reference: {{(jobDetail | async)?.id}}</p>
    </ion-item>

    <ion-item>
      <p>Completed: {{(jobDetail | async)?.completed}}</p>
    </ion-item>
  </ion-card>
  <ion-card>
    <p>Contact Information</p>
    <ion-item>
Contact:
    </ion-item>
    <ion-item>
      Phone:
          </ion-item>
          <ion-item>
            Email:
                </ion-item>
                <ion-item>
                  Address:
                      </ion-item>
  </ion-card>

 
    <ion-card *ngIf="!taskList">
      <ion-card-header>No notes added yet</ion-card-header>
    </ion-card>


  <ion-card  *ngFor="let tasks of (taskList | async)">
    <ion-list >
      <ion-item lines='none'>
        <ion-label>
          <strong>{{tasks.title}}</strong>
        </ion-label>

        <ion-chip color="primary">{{tasks.user}}</ion-chip>
      </ion-item>

      <ion-item lines='none'>
        <ion-text>{{tasks.notes}}</ion-text>
      </ion-item>

      <ion-item lines='none'>
        <ion-text><i>{{tasks.time}} {{tasks.date}}</i></ion-text>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-fab vertical ="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>

